body {
  color: darkorange;
}

h1, h2, h3 {
  font-size: 42px;
  font-family: "Decaying", sans-serif;
}

p {
  font-size: 28px;
  font-family: "canvas print", sans-serif;
}

img {
  margin: 100px 245px 20px 20px;
  float: top;
  height: 200px;
  width: 200px;
}